---
BasedOnStyle: WebKit
ColumnLimit: '80'
IndentWidth: '4'
PointerAlignment: Middle
IndentPPDirectives: AfterHash
AllowShortFunctionsOnASingleLine: false
BinPackArguments: false
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignOperands: true
AlignTrailingComments: true

BraceWrapping:
  AfterEnum: true
  AfterFunction: true
  AfterStruct: true
  AfterUnion: true
  BeforeElse: true

BreakBeforeBraces: Custom

...
